body{
    background: url("../image/image3.jpg");
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position:unset;
    background-size:cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-attachment: fixed;
}
#About{
    margin: 0px;
    padding: 50px;
    width: 100%;
}
#Skills{
    margin: 0px;
    padding: 0px;
}